<div class="container emp-profile">

      <div class="row">
          <div class="col-md-4">
              <div class="profile-img">
                  <img [src]="employee.imageUrl" alt="profile picture"/>
              </div>
          </div>
          <div class="col-md-6">
            <div class="profile-head">
                <h4>{{employee.name}}</h4>
            </div>
              <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-md-6">
                        <label>Позиция</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{employee.position}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>E-mail адрес</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{employee.email}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Дни платен отпуск</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{employee.daysOff}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Телефон</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{employee.phone}}</p>
                    </div>
                </div>
            </div>
        </div>
          <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">От</th>
                  <th scope="col">До</th>
                  <th scope="col">Брой дни</th>
                  <th scope="col">Тип</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let holiday of employee.holiday">
                  <th scope="row">1</th>
                  <td>{{holiday.startDate}}</td>
                  <td>{{holiday.endDate}}</td>
                  <td>{{holiday.numberDays}}</td>
                  <td *ngIf="holiday.isPaidHoliday">Платен</td>
                  <td *ngIf="holiday.isPaidHoliday">Нелатен</td>
                </tr>
              </tbody>
            </table>
    </div>
</div>


<!-- <div class="container emp-profile">
  <form method="post">
      <div class="row">
          <div class="col-md-4">
              <div class="profile-img">
                  <img [src]="employee.imageUrl" alt=""/>
              </div>
          </div>
          <div class="col-md-6">
              <div class="profile-head">
                  <h4>
                      {{employee.name}}
                  </h4>
                  <h6>{{employee.position}}</h6>

                  <p class="proile-rating">ОСТАВАЩИ ДНИ : <span>{{employee.daysOff}}</span></p>
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link" id="home-tab">История на отпуска</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="profile-work">

              </div>
          </div>
          <div class="col-md-8">
              <div class="tab-content profile-tab" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>User Id</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>Kshiti123</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Name</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>Kshiti Ghelani</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Email</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>kshitighelani@gmail.com</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Phone</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>123 456 7890</p>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <label>Profession</label>
                                  </div>
                                  <div class="col-md-6">
                                      <p>Web Developer and Designer</p>
                                  </div>
                              </div>
                  </div>

              </div>
          </div>
      </div>
  </form>
</div> -->
