<div class="container emp-profile">

      <div class="row">
          <div class="col-md-4">
              <div class="profile-img">
                  <img [src]="employee.imageUrl" alt="profile picture"/>
              </div>
          </div>
          <div class="col-md-6">
            <div class="profile-head">
                <h4>{{employee.name}}</h4>
            </div>
              <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-md-6">
                        <label>Позиция</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{employee.position}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>E-mail адрес</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{employee.email}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Дни платен отпуск</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{employee.daysOff}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Телефон</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{employee.phone}}</p>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover" data-pagination="true" datapagesize=2>
            <thead>
              <tr>
                <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}</th>
              </tr>
            </thead>
            <tbody>
                <!-- <div *ngIf="holidays.length > 0;else no_holiday_template"> -->

                  <tr *ngFor="let holiday of holidays | paginate: { itemsPerPage: 5, currentPage: page }; index as i">
                      <td>{{holiday.startDate}}</td>
                      <td>{{holiday.endDate}}</td>
                      <td>{{holiday.numberDays}}</td>
                      <td *ngIf="holiday.paidHoliday;else else_content">Платен</td>
                      <ng-template #else_content><td>Неплатен</td></ng-template>

                  </tr>
                <!-- </div> -->

            </tbody>

          </table>
          <div class="col-12 justify-content-center paginate">
            <pagination-controls class="my-pagination" (pageChange)="page = $event"
              directionLinks="true"
              autoHide="true"
              previousLabel="Предишен"
              nextLabel="Следващ"
              responsive="true">
            </pagination-controls>
         </div>
    </div>
</div>
