body{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.container{
  text-align: center;
  max-width: 600px;
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.btn {
  background-color: #343a40;
}

a {
  color:#1BA1D6;
}
.error {
  color: red;
}
