.card-img-top.male {
  background: #daeaf8;
}

.card-img-top.female {
  background: #fbc6fb;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

.card {
  margin-top: 5px;
}
